{% extends 'base.html' %}
{% block title %}Succes{% endblock %}
{% block content %}
    <div class="container-fluid" data-bs-theme="dark">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <br><br>
                    <div class="card-body">
                    <p class="text-center">Parola s-a resetat cu succes!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'home_page' %}" class="btn btn-info">Acasă</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
