{% extends 'base.html' %}

{% block title %}Email trimis{% endblock %}

{% block content %}
    <div class="container-fluid" data-bs-theme="dark">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Resetare parolă</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Verifică e-mailul</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'login' %}" class="btn btn-info">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}